TimeZone=America/Mexico_City
TimeZoneMySQL=UTC-6
OLS_VERSION=1.8.1
PHP_VERSION=lsphp83
MYSQL_DATABASE=root
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=admin
MYSQL_PASSWORD=password
MYSQL_DOCKER_PORT=3306
MYSQL_LOCAL_PORT=3306
DOMAIN=localhost